# Local compatibility
OLLAMA_HOST=
OLLAMA_MODEL=
MEM0_COLLECTION=
EMBEDDER_MODEL=
QDRANT_PATH=

# Cloud deployment
RENDER=
MEMORYAI_LLM_PROVIDER=
GOOGLE_API_KEY=
GEMINI_API_KEY=
GEMINI_MODEL=
QDRANT_URL=
QDRANT_API_KEY=
